* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: calc(100vh - 100px);
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 50px;
}

.footer-title {
  font-size: 22px;
  align-self: center;
}

/* ERROR (LOGIN + REGISTRATION) */
.error {
  width: 50%;
  background-color: #FF3333;
  padding: 15px;
  margin-bottom: 30px;
}

.error h2 {
  font-size: 18px;
}

/* LOGIN */
.login h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label, .login-form input, .login-form button {
  width: 50%;
}

.login-form input {
  margin-bottom: 20px;
}

.login-form button {
  height: 40px;
}

/* REGISTRATION */
.register h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.jumbotron {
  background: rgb(162,225,255);
  background: radial-gradient(circle, rgba(162,225,255,1) 0%, rgba(71,204,242,1) 100%);
}
